body {
  background-color: #1e1e1e;
  color: #e0e0e0;
  font-family: Consolas, monospace;
  margin: 0;
  display: flex;
  height: 100vh;
}

#editor {
  width: 40%;
  height: 100%;
  background: #2d2d2d;
  padding: 10px;
  box-sizing: border-box;
  border-right: 2px solid #333;
}

#output {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  background: #1e1e1e;
  padding: 10px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 85%;
  background: #2d2d2d;
  color: #e0e0e0;
  border: none;
  font-size: 14px;
  resize: none;
  outline: none;
}

button {
  background: #ffb74d;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #ffcc80;
}

.section {
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

td,
th {
  border: 1px solid #555;
  padding: 4px;
  text-align: center;
}

th {
  background: #333;
  color: #ffb74d;
}

.error-box {
  background: #330000;
  color: #ff5555;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

h2,
h3 {
  color: #ffb74d;
  margin-top: 10px;
  margin-bottom: 8px;
}

#editor {
  border-right: 2px solid #ffb74d;
}
